/* Your Styles Here */
body{
    background-color: #0f002a;
    color: rgb(149, 112, 204);
    font-family: 'Fira Code', 'Anonymous Pro', 'Hack', monospace;
    margin-left: 10%;
    margin-right: 10%;
}

.image-frame {
    display: block;
    margin: auto;
    height: 250px;
    width: 250px;
    border: 2px solid rgb(174, 151, 209);
    border-radius: 50%;
    box-shadow: 0 40px 80px rgba(255, 2, 242, 0.1);
}

.text-card {
    margin-top: 50px;
    background-color: #d7cffc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 40px 80px rgba(255, 2, 242, 0.1);
}